**/bin/
**/obj/
.vs/
TestResults/
artifacts/
Directory.Build.local.props
/publish/
/.idea/
*.user
*.suo
native/win-x64/*.dll
native/win-x64/*.so
native/linux-x64/*.so
native/linux-x64/*.dll
!native/win-x64/.gitkeep
!native/linux-x64/.gitkeep
